.containerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91%;
    margin: 0;
    height: 14vh;
}
.header-left{
display: flex;
}
.header-right{
display: flex;
justify-content: space-around;

}
.btn-login{
background-color: #e50914;
height: 40px;
width: 120px;
display: flex;
align-items: center;
justify-content: center;
color: white;
border-radius: 5px;
border: none;
font-size: 16px;
font-weight: 500;
outline: none;
}
.btn-lang{
background: rgba(0,0,0,.4);
border: 1px solid #aaa;
color: #fff;
width: 100%;
height: 100%;
padding-left: 20px;
border-radius: 2px;
}
.lang{
opacity: 0;
}
.container-select .material-icons{
color: white;
position: absolute;
}
.container-select{
display: flex;
position: relative;
margin: 0 1rem;
align-items: center;
}
.link-home-login{
text-decoration: none;
}
