.containerHeader{
    display: flex;
    margin: 0 4%;
}
.header-left{
    display: flex;
    width: 78%;
}
.header-right{
    display: flex;
    width: 22%;
    justify-content: space-around;
}
.btn-login{
    background-color: #e50914;
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    border: none;
}
.btn-lang{
    background: rgba(0,0,0,.4);
    border: 1px solid white;
    border-radius: 4px;
    color: #fff;
    width: 90px;
    height: 40px;
}
.lang{
    opacity: 0;
}
.material-icons{
    font-size: 4px;
}
