.containerContentDetails{
    display: flex;
    margin: 4% 4% 0 4%;
    background-color: rgba(0,0,0,.75);
    border-radius: 10px;
    color: white;
    padding: 4%;
}
.contentDetailsImg{
    margin: 0 20px 0 0;
}
.text-verHD{
    margin: 10px 0;
    color: #e50914;
}
.sipnosis{
    color: #8c8c8c;
    margin: 0 0 10px;
}
.infoEtiquetas{
    display: flex;
}
.infoEtiquetasLeft{
width: 50%;
}
.infoEtiquetasRight{
    width: 50%;
}
.etiqueta{
    display: flex;
    font-size: 14px;
}
.titleEtiqueta{
    margin: 0px 5px;
}
.textEtiqueta{
    color: #e50914;
}