$color: #757575;
$font:  Arial, Helvetica, sans-serif;


.contMainFooter{
    padding: 0 15%;
    background-color: rgba(0,0,0,.75);
    width: calc(100% - 30%);
    display: flex;
    flex-direction: column;
    .font{
        font-family: $font;
        color: $color;
    }
    .sectionTop{
        margin-top: 30px ;
        margin-bottom: 30px;
        .number{
            margin-left: 15px;
        }
        .number:hover{
            text-decoration: underline;

        }   

    }
    .sectionMedia{
        height: 100px;
        .list{
            list-style: none;
            display: flex;
            .itemList{
                width: 200px;
                margin-bottom: 20px;
            }
            .itemList:hover{
                text-decoration: underline;
            }
        }
    }

    .sectionBotom{
        margin-bottom: 70px;
        .contLabelRelativ {
            position: relative;
            background-color: black;
            color: $color;
            width: 130px;
            height: 50px;
            border: 1px solid;
            border-color: white;
            border-radius: 4px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .mundo{
            position: absolute;
            left: 5px;
        }
        select{
            background-color: black;
            border: none;
            outline: none;
            color: white;
            height: 101%;
            width: 100%;
            padding-left: 40px;
            
            
        }


    }
    
}   