.container-home{
    background-image: url(./../../images/background.jpg) ;
    background-size: cover;
}
.sombra{
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;

}